<h1>Ingresa los datos del producto</h1>
<br>
<form action="/productos" method="post">
    <label for="title"><b>Nombre</b></label>
    <input type="text" id="title" name="title">
    <br>
    <label for="price"><b>Precio</b></label>
    <input type="number" id="price" name="price">
    <br>
    <label for="thumbnail"><b>foto</b></label>
    <input type="text" id="thumbnail" name="thumbnail">
    <br>
    
    <button type="submit">Enviar</button>
    
</form>