<%- include('./botones.ejs') %> 
<h1>Productos</h1>
<% const hayProductos = productos.length > 0; %> 
<% if (hayProductos){ %> 
    <table>
        <tr>
        <th>Nombre producto</th>
        <th>Precio</th>
        <th>Foto</th>
        </tr>
        <% productos.forEach(producto => { %> 
        <tr>
            <td><%= producto.title %> </td>
            <td><%= producto.price %> </td>
            <td><img src=<%= producto.thumbnail %> style='width:70px;height:70px;'></td>
        </tr>
        <% }); %> 
    </table>
<% } else { %>
    <h3>No hay productos</h3> 
<% }; %> 