<h1>lista 1</h1>

{{#if existe}}
<ul>
    {{#each usuarios}}
    <li class={{this.estilo}}>Nombre: {{this.nombre}}, Edad: {{this.edad}}</li>
    {{/each}}
</ul>
{{/if}}

<ul>
    <li>usuario 1</li>
    <li>usuario 2</li>
</ul>