doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Desafío 5 con Pug
    body
    div
      h1 Carga de Productos
        form(action="/productos", method="POST")
          div
            span Nombre: 
            input(type="text", placeholder="Nombre", name="title")
          div
            span Precio: 
            input(type="number", placeholder="Precio", name="price")
          div
            span URL Imagen: 
            input(type="text", placeholder="URL", name="thumbnail", id="url")
          button(type="submit") Registrar
          a(href="/productos", role="button") Catálogo
      hr
      div
        span URL de Fotos Precargadas
        br
        button(onclick="copiar('https://i.ibb.co/9v9TrJ0/naranjo.jpg')") Foto 1
        button(onclick="copiar('https://i.ibb.co/9NsMW2N/negro.jpg')") Foto 2</button>
        button(onclick="copiar('https://i.ibb.co/DGr0LVV/amarillo.jpg')") Foto 3</button> 